<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-secondary main-nav py-3">
  <div class="container">
    <a class="navbar-brand text-white"
      routerLink="/">
      <h2 class="display-5">MyExams</h2>
    </a>
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end"
      id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a *isLogged="true"
            class="nav-link"
            routerLink="/user">User</a>
        </li>
        <li class="nav-item">
          <a *isLogged="true"
            class="nav-link"
            routerLink="/dashboard">Admin Dashboard</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/about">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Upload</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="/how-it-works">How it works</a>
        </li>
      -->
      </ul>
      <div class="header-actions">
        <a *isLogged="false"
          routerLink="/login"
          id="loginbtn"
          class="btn btn-white-outline ml-5 mr-2 hvr-grow">Login</a>
        <a *isLogged="true"
          (click)="logOut()"
          class="btn btn-white-outline ml-5 mr-2 hvr-grow">Log out</a>
        <!-- <a routerLink="/register" class="btn btn-white hvr-grow">Register</a> -->
      </div>
    </div>
  </div>
</nav>