<!-- Footer -->



<footer>
  <div class=" container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-white display-4 font-bold opc-8">MyExams</h3>
        <p class="text-primary  opc-8">&#64;2024 MyExams, LLC. All Rights Reserved</p>
      </div>


      <div class="col-md-8 text-right">
        <ul class="footer-nav">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Term & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
