<div class="my-5 container">



  <div class="main-body mb-5">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb"
      class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active"
          aria-current="page">User Profile</li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                alt="Admin"
                class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4>{{ user.details.student.firstName }} {{ user.details.student.lastName }} </h4>
                <p class="text-secondary mb-1">{{ user.details.student.email }}</p>
                <p class="text-muted font-size-sm"> {{ user.details.school.schoolName }} </p>

              </div>
            </div>
          </div>
        </div>


        <div class="card p-3">
          <h4 class="mb-3">Password change</h4>
          <form [formGroup]="passwordChangeForm"
            (ngSubmit)="onSubmitForm()">

            <label class="sr-only">Password</label>
            <input type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password">

            <br>

            <label class="sr-only">Retype Password</label>
            <input type="password"
              class="form-control"
              placeholder="Re Password"
              formControlName="retype_password">

            <br>

            <button class="btn btn-lg btn-primary btn-block w-100"
              type="submit">Change Password</button>

          </form>

        </div>

      </div>
      <div class="col-md-8">
        <div class="d-flex align-items-center justify-content-center my-3 flex-column calendar">
          <div class="header">Calendar</div>
          <dp-day-calendar [config]="datePickerConfig"
            [theme]="'dp-material'"
            [(ngModel)]="currentDate"
            (onSelect)="handlerSelectDate($event)" />
        </div>
        @if((exams | ExamsPipe: selectedDate); as userExams;) {
        @if(userExams.length;) {
        <ng-container *ngFor="let exam of userExams">
          <ng-container *ngTemplateOutlet="examItem; context: {exam: exam}"></ng-container>
        </ng-container>
        } @else {
        <div class="d-flex justify-content-center display-6">No exams on this date.</div>
        }
        } @else {
        <div class="d-flex justify-content-center display-6">No exams on this date.</div>
        }
      </div>
    </div>

  </div>
</div>

<ng-template #examItem
  let-exam="exam">
  <div class="card mb-3">
    <div class="card-body exam-item">

      <list-item title="Summary"> {{exam.details.summary}} </list-item>
      <list-item title="Subject"> {{exam.details.subject}} </list-item>
      <list-item title="Level"> {{exam.details.level}} </list-item>
      <list-item title="Grade value"> {{exam.details.grade_value}} </list-item>
      <list-item title="Exam date"> {{exam.details.exam_date | date}} </list-item>

      <list-item title="Graded Link">
        <a [href]="exam.details.graded_url">{{ exam.details.graded_url }}</a>
      </list-item>
      <list-item title="Ungraded Link">
        <a [href]="exam.details.ungraded_url">{{ exam.details.ungraded_url }}</a>
      </list-item>

    </div>
  </div>
</ng-template>